/** basic styling. **/
body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0rem auto;
  background-color: #fff;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
}
h1,h2,h3 {
  margin: 0;
}

.width-wrapper {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  display: flex;
}
main {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
main h1 {
  color: #282828;
}
a {
  color: #076678;
  text-decoration: none;
}
a:hover {
  color: #83a598;
}


/** HEADER **/
header {
  border-top: 4px solid #d65d0e;
  margin-bottom: 1rem;
}
header h1 {
  flex: 1;
  font-size: 24px;
  line-height: 60px;
}
header nav ul {
  display: flex;
  flex: 1;
  list-style: none;
}
header nav ul li a {
  margin-top: 1rem;
  padding: 1rem;
}
header nav ul a:hover {
  border-bottom: 1px solid red;
}

/** FOOTER **/
footer {
  border-top: 1px solid #fe8019;
  background-color: #ebdbb2;
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0;
}
.footer-content {
  width: 768px;
  margin: 0 auto;
  padding: 20px;
}
.footer-content h2 {
  margin: 0px;
}
.footer-small {
  font-size: 12px;
}

/** CONTENT **/
.blog-item-list {
  margin: 20px 0;
}
.post-time {
  color: #928374;
}
.first-item {
  padding: 20px;
  border: 1px solid #689d6a;
  background-color: #8ec07c;
}
.first-item h2 {
  margin: 0;
  padding: 0;
}

.highlight pre {
  padding: 10px;
  margin: 4px -10px;
}
