{{ define "main" }}
  {{ .Content }}

  {{ range $index, $element := where .Site.RegularPages.ByDate.Reverse "Section" "post" }}
    {{ if eq $index 0 }}
      <div class="first-item blog-item-list">
      Latest article: {{ .Date.Format "2006-01-02" }}
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      {{ .Summary }}
      </div>
    {{ else }}
      <div class="blog-item-list">
      <span class="post-time">{{ .Date.Format "2006-01-02" }}</span>
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      </div>
    {{ end }}
  {{ end }}
{{ end }}