/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
.highlight {
  @apply bg-grey-lighter p-4 rounded max-w-full overflow-y-scroll;
}
.highlight>.highlight {
  @apply p-0;
}
.highlighter-rouge {
  @apply bg-grey-lighter px-1;
}

.c     { @apply text-grey-dark italic; } /* Comment */
.err   { @apply text-red-dark bg-red-lightest; } /* Error (bg lighter, fg dark) */
.k     { @apply font-bold; } /* Keyword */
.o     { @apply font-bold; } /* Operator */
.cm    { @apply text-grey-dark italic; } /* Comment.Multiline */
.cp    { @apply text-red-dark font-bold; } /* Comment.Preproc */
.c1    { @apply text-grey-dark italic; } /* Comment.Single */
.cs    { @apply text-grey-dark font-bold italic; } /* Comment.Special */
.gd    { @apply text-red-dark bg-red-lightest; } /* Generic.Deleted (light) */
.gd .x { @apply text-red-dark bg-red-light; } /* Generic.Deleted.Specific (lighter) */
.ge    { @apply italic } /* Generic.Emph */
.gr    { @apply text-red-dark } /* Generic.Error */
.gh    { @apply text-grey-darker } /* Generic.Heading */
.gi    { @apply text-green-dark bg-green-lightest; } /* Generic.Inserted */
.gi .x { @apply text-green-dark bg-green-light; } /* Generic.Inserted.Specific */
.go    { color: #f70 } /* Generic.Output */
.gp    { color: #f70 } /* Generic.Prompt */
.gs    { @apply font-bold } /* Generic.Strong */
.gu    { color: #f70 } /* Generic.Subheading */
.gt    { color: #f70 } /* Generic.Traceback */
.kc    { @apply font-bold } /* Keyword.Constant */
.kd    { @apply font-bold } /* Keyword.Declaration */
.kp    { @apply font-bold } /* Keyword.Pseudo */
.kr    { @apply font-bold } /* Keyword.Reserved */
.kt    { color: #f70; @apply font-bold } /* Keyword.Type */
.m     { @apply text-pink-dark } /* Literal.Number */
.s     { @apply text-pink-dark } /* Literal.String */
.na    { @apply text-teal-dark } /* Name.Attribute */
.nb    { @apply text-teal } /* Name.Builtin */
.nc    { @apply font-bold text-teal-dark } /* Name.Class */
.no    { @apply text-teal } /* Name.Constant */
.ni    { color: #f70 } /* Name.Entity */
.ne    { color: #f70; @apply font-bold } /* Name.Exception */
.nf    { @apply font-bold text-teal-dark } /* Name.Function */
.nn    { color: #f70 } /* Name.Namespace */
.nt    { @apply text-teal-dark } /* Name.Tag */
.nv    { @apply text-pink-light } /* Name.Variable */
.ow    { @apply font-bold } /* Operator.Word */
.w     { color: #f70 } /* Text.Whitespace */
.mf    { @apply text-pink-dark } /* Literal.Number.Float */
.mh    { @apply text-pink-dark } /* Literal.Number.Hex */
.mi    { @apply text-pink-dark } /* Literal.Number.Integer */
.mo    { @apply text-pink-dark } /* Literal.Number.Oct */
.sb    { @apply text-pink-dark } /* Literal.String.Backtick */
.sc    { @apply text-pink-dark } /* Literal.String.Char */
.sd    { @apply text-pink-dark } /* Literal.String.Doc */
.s2    { @apply text-pink-dark } /* Literal.String.Double */
.se    { @apply text-pink-dark } /* Literal.String.Escape */
.sh    { @apply text-pink-dark } /* Literal.String.Heredoc */
.si    { @apply text-pink-dark } /* Literal.String.Interpol */
.sx    { @apply text-pink-dark} /* Literal.String.Other */
.sr    { @apply text-pink-darkest } /* Literal.String.Regex */
.s1    { @apply text-pink-dark } /* Literal.String.Single */
.ss    { @apply text-pink-dark } /* Literal.String.Symbol */
.bp    { color: #f70 } /* Name.Builtin.Pseudo */
.vc    { color: #f70 } /* Name.Variable.Class */
.vg    { color: #f70 } /* Name.Variable.Global */
.vi    { color: #f70 } /* Name.Variable.Instance */
.il    { color: #f70 } /* Literal.Number.Integer.Long */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

article p {
  @apply my-4;
}
article a {
  @apply text-blue no-underline transition-slow transition-property-color;
}
article a:hover {
  @apply text-blue-darker underline;
}
code, pre {
  @apply font-mono;
}
pre {
  font-size: .8em;
}
article blockquote {
  @apply py-2 px-4 border-l-4 border-blue text-grey-dark;
}
article blockquote > p:first-of-type {
  @apply mt-0;
}
article blockquote > p:last-of-type {
  @apply mb-0;
}

article h2 {
  @apply my-4;
}
article h3 {
  @apply my-4;
}
article hr {
  @apply border-grey-dark border-b;
}

